@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="display-4">Welcome</h1>
        </div>
        <div class="col-md-4">
             <p>It's my test project for showing my skill in .Net Core MVC<br/>
                 To be honest, the most hard part for me is frontend because I'm more familiar with backend & Clouds</p>
        </div>
        <div class="col-md-4">
            <p>I was working with Loto project and you can see created game algorithm of winning streak<br/>
                In my task the main goal was to achive correct business logic with different streak rules</p>
        </div>
        <div class="col-md-4">
            <p>You could ask me about frontend and it would be a good question.<br/>
                If I had created frontend part with Vue.js I would spend some more time with that</p>
        </div>
    </div>
    
    
   
</div>
